*{
    box-sizing: border-box;
}
body {
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: rgb(15, 15, 15);
}
h1{
font-size: 40px;
color: rgb(225, 249, 255);
text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #BFE2FF, 0 0 0.5em #BFE2FF, 0 0 0.1em #BFE2FF;
}
h2{
    color: rgb(178, 248, 176);
text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #bfffc4, 0 0 0.5em #bfffc4, 0 0 0.1em #bfffc4;
}
h1 span{
animation: neon linear infinite 10s;
}
@keyframes neon {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79%{
        color: #0b3960;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #0b3960;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #0b3960;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}
.grid {
display: flex;
flex-wrap: wrap;
width: 410px;
height: 400px;
background-color: rgb(15, 15, 15);
border: 5px solid black;
padding-top: 5px;
}
.grid div {
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
box-sizing: border-box;
border: 1px solid rgb(15, 15, 15);
}
.menu{
visibility: visible; 
z-index: 999;
width: 100%;
height: 100%;
position: fixed;
background-color: rgba(0, 0, 0, 0.7);
}
.Title{
    margin: 0 auto;
    width: 250px;
    padding-top: 60px;
    font-size: 40px;
    color: whitesmoke;
    line-height: 10px;
   
}
.Title span{
    font-size: 16px;
    color: tomato;
}
.buttons{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
    gap: 30px;
    padding-top: 50px;
}
.buttons button{
    height: 40px;
    background-color: rgb(233, 233, 233);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.ochert{
    background-color: rgb(27, 27, 27);
    width: 270px;
    padding: 10px;
    height: 500px;
    margin: 30px auto;
}

.btn-three {
    color: black;
    transition: border, box-shadow 0.5s;
    position: relative;
  }
  .btn-three:hover{
    -webkit-box-shadow: 0px 0px 17px 5px rgba(93, 255, 133, 0.45);
    -moz-box-shadow: 0px 0px 17px 5px rgba(93, 255, 133, 0.45);
    box-shadow: 0px 0px 17px 5px rgba(93, 255, 133, 0.45);
    transition: all 300ms ease-in-out;
  }
/*Фигуры */
.circle {
width: 30px;
height: 30px;
background-color: red;
border-radius: 50%;
}
.square {
width: 30px;
height: 30px;
background-color: blue;
}
.oval{
width: 30px;
height: 20px;
border-radius: 40%;
background-color: rgb(248, 234, 30);
}
