*{
    box-sizing: border-box;
}
body {
display: flex;
flex-direction: column;
align-items: center;
background-color: #f0f0f0;
}
.grid {
display: flex;
flex-wrap: wrap;
width: 420px;
height: 420px;
background-color: #ffffff;
border: 5px solid #000000;
border-radius: 8px;
}
.grid div {
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
box-sizing: border-box;
border: 1px solid #ffeeff;
}

/*Фигуры */
.circle {
width: 30px;
height: 30px;
background-color: #ff4d4d;
border-radius: 50%;
}
.square {
width: 30px;
height: 30px;
background-color: #4d79ff;
}
/*.triangle {
width: 0;
height: 0;
border-left: 15px solid #4dff88;
border-right: 15px solid #4dff88;
border-bottom: 30px solid #4dff88;
}*/
