*{
    box-sizing: border-box;
}
body {
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: rgb(15, 15, 15);
}
.buttons{
    display: flex;
    flex-flow: column;
    gap: 100px;
    margin-top: 200px;
}
.buttons div {
    display: flex;
   justify-content: center;
   align-items: center;
}
.buttons button, a {
    width: 300px;
    height: 40px;
     background-color: rgb(27, 27, 27);
}
.buttons button:hover,a :hover{
    -webkit-box-shadow: 0px 0px 17px 5px rgba(93, 255, 133, 0.45);
    -moz-box-shadow: 0px 0px 17px 5px rgba(93, 255, 133, 0.45);
    box-shadow: 0px 0px 17px 5px rgba(93, 255, 133, 0.45);
    background-color:rgba(27, 27, 27,0);
    color: rgb(0, 255, 127);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #bfffc4, 0 0 0.5em #bfffc4, 0 0 0.1em #bfffc4;
    transition: all 100ms ease-in-out;
}
